/* Producto Detalles */
#productos_detalle {
    margin: 20px;
}

.producto_detalle img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.producto_detalle h2 {
    color: #333;
    text-align: center;
}

.producto_detalle ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.producto_detalle ul li {
    margin: 5px 0;
}
